<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis的DTD约束-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper>是根标签 只有一个属性namespace-->
<mapper namespace="cn.itcast.orm.mapper.StudentMapper">
    <select id="findAll" resultType="cn.itcast.orm.entity.Student">
        SELECT * FROM tb_student
    </select>
</mapper>